@font-face {
    font-family: 'Empresso';
    src: url('Empresso-Thin.eot');
    src: local('Empresso Thin'), local('Empresso-Thin'),
        url('Empresso-Thin.eot?#iefix') format('embedded-opentype'),
        url('Empresso-Thin.woff2') format('woff2'),
        url('Empresso-Thin.woff') format('woff'),
        url('Empresso-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Empresso';
    src: url('Empresso-Bold.eot');
    src: local('Empresso Bold'), local('Empresso-Bold'),
        url('Empresso-Bold.eot?#iefix') format('embedded-opentype'),
        url('Empresso-Bold.woff2') format('woff2'),
        url('Empresso-Bold.woff') format('woff'),
        url('Empresso-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Empresso';
    src: url('Empresso-Regular.eot');
    src: local('Empresso Regular'), local('Empresso-Regular'),
        url('Empresso-Regular.eot?#iefix') format('embedded-opentype'),
        url('Empresso-Regular.woff2') format('woff2'),
        url('Empresso-Regular.woff') format('woff'),
        url('Empresso-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Empresso';
    src: url('Empresso-Light.eot');
    src: local('Empresso Light'), local('Empresso-Light'),
        url('Empresso-Light.eot?#iefix') format('embedded-opentype'),
        url('Empresso-Light.woff2') format('woff2'),
        url('Empresso-Light.woff') format('woff'),
        url('Empresso-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Empresso';
    src: url('Empresso-Thin_Italic.eot');
    src: local('Empresso Thin_Italic'), local('Empresso-Thin_Italic'),
        url('Empresso-Thin_Italic.eot?#iefix') format('embedded-opentype'),
        url('Empresso-Thin_Italic.woff2') format('woff2'),
        url('Empresso-Thin_Italic.woff') format('woff'),
        url('Empresso-Thin_Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

