/*Желтая кнопка*/

.yellowButton {
   font-family: 'Oswald';
   font-weight: 700;
   border: none;
   background-color: #f2ee6f;
   height: 40px;
   max-width: 240px;
   border-radius: 4px;
   padding: 0 32px;
   opacity: 0.8;
   text-transform: uppercase;
   transition: .1s ease-in;
   transition-delay: 0.1s;
}
.yellowButton:hover {
   opacity: 1;
}
.yellowButton:focus {
   background-color: #b8ac48;
}

/*Кнопка меню*/
.menuButton button {
   font-family: inherit;
   background-color: inherit;
   text-decoration: inherit;
   border: inherit;
   color: inherit;
   font-size: inherit;
   text-transform: inherit;
   opacity: inherit;
}
.menuButton {
   font-family: 'Oswald';

   font-size: 20px;
   border: none;
   color: white;
   background-color: inherit;
   text-transform: uppercase;
   padding: 0 16px;
  
}
.menuButton:hover {
  
}

/*Кнопка ссылки*/

.linkButton:active,
.linkButton:hover,
.linkButton {
   font-family: 'Oswald';
   font-size: 12px;
   font-weight: 100;
   text-decoration: none;
   text-decoration: underline;
   color: inherit;
   transition: .1s ease-in;
   transition-delay: 0.1s;
}

/*Кнопка отправки формы */
 .outlinedButton {
   height: 52px;
   font-family: "Oswald";
   border: none;
   color: #000;
   background-color: inherit;
   border: 2px solid #f2ee6f; 
   transition: .1s ease-in;
   transition-delay: 0.1s;
}

.outlinedButton button{
   background-color: red;
}

.outlinedButton:hover {
   background-color: #f2ee6f;

}

/* form */
.form input{
   font-family: 'Empresso';

}
