/*Кнопка регистрации*/
.registryButton {
   cursor: pointer;
   margin: 8px 4px;
   font-family: 'Oswald';
   font-weight: 700;
   border: none;
   background-color: #f2ee6f;
   height: 40px;
   width: 100%;
   border-radius: 4px;
   padding: 0 32px;
   text-transform: uppercase;
   transition: .1s ease-in;
   transition-delay: 0.1s;
}
.logoButton{
   max-width: 25vw;
   max-height: 75px;
}
/*Кнопка меню*/
.menuButton {
   text-decoration: none;
   font-family: 'Oswald';
   font-size: 20px;
   border: none;
   color: white;
   background-color: inherit;
   text-transform: uppercase;
   padding: 0 16px;
}
.menuButtonMobile{   
   text-decoration: none;
   font-family: 'Oswald';
   font-size: 20px;
   border: none;
   color: black;
   background-color: inherit;
   text-transform: uppercase;
   padding: 32px 8px;
}

/*Кнопка ссылки*/
.linkButton {
   background-color: inherit;
   border: none;
   font-family: 'Oswald';
   font-size: 12px;
   font-weight: 100;
   text-decoration: none;
   text-decoration: underline;
   color: inherit;
   transition: .1s ease-in;
   transition-delay: 0.1s;
}

/*Кнопка отправки формы */
.formButton{
   border: none;
   background: inherit;
   outline: 2px solid #f2ee6f;
   font-family: Oswald;
   height: 40px;
   font-weight: 500;
   cursor: pointer;
}
.barMenuButton{
   background: inherit;
   outline: 2px solid white;
   cursor: pointer;
   font-family: 'Oswald';
   font-weight: 700;
   border: none;
   height: 40px;
   width: 100%;
   border-radius: 4px;
   padding: 0 32px;
   text-transform: uppercase;
   transition: .1s ease-in;
   transition-delay: 0.1s;
   margin: 8px 4px;
}
/* event */
.eventButton{
      background: inherit;
      color: white;
      border: inherit;
      font-family: 'Oswald';
      font-size: 36px;
   }

   /* city select button */
   .cityButton{
      text-decoration: none;
      color: gray;
      font-family: 'Oswald';
      font-size: 40px;
   }
   .cityButtonOuter{
      text-decoration: none;
      color: gray;
      font-family: 'Oswald';
      font-size: 40px;
   }
   /* socialButton */
   .socialButton{
      color: white;
      font-family: "Oswald";
   }
